body {
    padding : 0px;
    margin : 0px;
}

.black-strip-sony {
    
    height : 4.7vh;
    display : flex;
    background-color : black;
    color : white;
    justify-content : flex-end;
    align-items : center;

}

.black-strip-sony div {
    
    background-image : url(./sony_logo.svg);
    width : 5vw;
    height : 3vh;
    background-repeat : no-repeat;
    margin-top : 1vh;
    
}

.nav-items-container {

    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding-left : 1.7vw;
    padding-right : 1.7vw;
    padding-top : 0.7vh;

}

.item1Parent {

    display : flex;
    flex-direction : row;
    justify-content : space-around;
    align-items : center;
    font-family : helvetica,arial,sans-serif;
    font-size : 12px;
    letter-spacing: 0.5px;
    font-weight : 600;

}

.item1 svg {

    width : 4vw;
    height : 8vh;

}

.item1Parent button {

    background-color : inherit;
    border : none;
    cursor : pointer;

}

.item2Parent {

    width : 9vw;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;

}

.item2Parent svg {

    width : 1.8vw;
    height : 4vh;
    

}

.item2Parent button {

    cursor : pointer;

}

.item2Parent a {

    text-decoration : none;
    color : black;  
    font-family : arial,sans-serif;
    color : white;
    font-size : 14.5px;
    font-weight : 500;
    letter-spacing: 0.5px;

}

.testButton {

    width : 4.95vw;
    background-color : #0068bd; 
    border : none;
    height : 3.4vh;
    border-radius : 12px;
    margin-top : -1vh;

}

.testButton2 {

    border : none;
    background-color : inherit;

}

.testButton:hover {
    background-color : #004883;
}

.banner1-container {

    background-image : url(./GowBanner.webp);
    background-repeat : no-repeat;
    background-size: contain;
    height : 76vh;

}

.banner1-container a {

    text-decoration : none;
    color : white;
    display : block;
    height : 76vh;

}



